.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 50px;
  color: #ffffff;
  background: #11151C;
}

.currency {
  display: flex;
  gap: 20px;
}

.currency__item {
  
}