.wrapper {
  display: flex;
  justify-content: space-around;
  width: 18rem;
  border: 1px gray solid;
  padding: 0.5rem;
  border-radius: 6px;
}

.wrapper input {
  width: 70%;
  font: inherit;
  border: none;
  outline: none;
}

.wrapper select {
  width: 30%;
  font: inherit;
  text-align: right;
  padding-right: 1rem;
  border: none;
  border-left: 1px gray solid;
  outline: none;
}

.wrapper select::-webkit-scrollbar {
  background-color: rgba(112, 113, 129, 0.121);
  width: 10px;
}

.wrapper select::-webkit-scrollbar-thumb {
  background-color: rgba(25, 27, 58, 0.179);
  width: 10px;
  border-radius: 8px;
}

.wrapper select::-webkit-scrollbar-thumb:hover {
  background-color: rgba(25, 27, 58, 0.322);
}

@media (max-width: 1200px) {
  .wrapper {
    width: 80%;
  }
}
